extends layoutadmin

block content
    .container
        h2 #{action} admin
        form(method='POST' , enctype="multipart/form-data")
            .form-group
                label(for='name') Naam:
                input#name(type='text', name='name', value=admin.name)
            .form-group
                label(for='email') E-mail:
                input#email(type='text', name='email' value=admin.email)
            .form-group
                label(for="image") Profile image
                input.form-control(type="file", name="image", id="image")
            .form-group.hidden
                label(for="imageUrl") Cover Image URL
                input.form-control(type="text", name="imageUrl", id="imageUrl", value=admin.imageUrl)
            .form-group
                button#update-admin-button.btn.btn-success(type="submit") #{action}