extends layoutadmin

block content
    .container.content
        h2 Games
        if admin.role >= 4
            a.btn.btn-lg.btn-success(href="/admin/creategame")
                i.glyphicon.glyphicon-plus
                span  Add game
        if games.length
            each game in games
                .media
                    .media-left
                        img(src=game.imageUrl ||
                        "/img/male-profile-pic-placeholder.png")
                    .media-body
                        h4= game.name
                        if admin.role >= 4
                            a.btn.btn-lg.btn-warning(href=`/admin/${game.id}/deletegame`)
                                i.glyphicon.glyphicon-trash
                            a.btn.btn-lg.btn-warning(href=`/admin/${game.id}/updategame`)
                                i.glyphicon.glyphicon-edit
        else
            h3 No games yet. Add a game.

        h2 Tournaments
        if admin.role >= 4
            a.btn.btn-success.btn-lg(href="/admin/createtournament")
                i.glyphicon.glyphicon-plus
                span  Add Tournament
        if tournaments.length
            each tournament in tournaments
                .media
                    .media-left
                        img(src=tournament.game.imageUrl ||
                        "/img/male-profile-pic-placeholder.png")
                    .media-body
                        h4= tournament.game.name
                        p date: #{tournament.date}
                        p start time: #{tournament.starttime}
                        p end time: #{tournament.endtime}
                        p location: #{tournament.location}
                        if admin.role >= 4
                            a.btn.btn-lg.btn-warning(href=`/admin/${tournament.id}/deletetournament`)
                                i.glyphicon.glyphicon-trash
                            a.btn.btn-lg.btn-warning(href=`/admin/${tournament.id}/updatetournament`)
                                i.glyphicon.glyphicon-edit
                        if admin.role >= 2
                            a.btn.btn-lg.btn-warning(href=`/admin/${tournament.id}/checkin`)
                                i.glyphicon.glyphicon-user
        else
            h3 No upcoming tournaments.

    script(type='text/javascript').
        $(document).ready(
            function () {
                $('#tournaments').addClass('active');
            }
        );