extends layoutadmin

block content
    .container.content
        .col-md-8
            .col-md-12
                .well.bs-component
                    form.form-horizontal(method='POST')
                        fieldset
                            legend #{action} Tournament
                            .form-group
                                label.col-md-4(for='game') Game:
                                .col-md-8
                                    select#game(name='game' required)
                                        option(value=tournament.game.id || '') #{tournament.game.name || 'Choose game...'}
                                        each gm in games
                                            option(value=gm.id) #{gm.name}
                            .form-group
                                label.col-md-4(for='date') Date:
                                .col-md-8
                                    input#date.form-control(type='date', name='date' value=tournament.date || '2019-01-01')
                            .form-group
                                label.col-md-4(for="starttime") Start time
                                .col-md-8
                                    input#starttime.form-control(type="time", name="starttime" value=tournament.starttime || '12:00')
                            .form-group
                                label.col-md-4(for="endtime") End time
                                .col-md-8
                                    input#endtime.form-control(type="time", name="endtime" value=tournament.endtime || '15:00')
                            .form-group
                                label.col-md-4(for=endreg) Registration ends (00:00)
                                .col-md-8
                                    input#endreg.form-control(type='date', name='endreg' value=tournament.endreg || '2019-01-01')
                            .form-group
                                label.col-md-4(for=location) Location
                                .col-md-8
                                    input#location.form-control(type='text', name='location' value=tournament.location)
                            .form-group
                                label.col-md-4(for=maxplayers) Max number of players
                                .col-md-8
                                    input#maxplayers.form-control(type='number', name='maxplayers' value=tournament.maxplayers)
                            .form-group
                                .col-md-4
                                .col-md-8
                                    button#update-tournament-button.btn.btn-success(type="submit") #{action} tournament


    script(type='text/javascript').
        $(document).ready(
            function () {
                $('#tournaments').addClass('active');
            }
        );
