extends layout.pug

block content
    .container
        h2 teamchat box  
        .columns
              .box.column.is-8.is-offset-2
                h2.title Chatbox
                .chat-messages.has-text-left
                  ul#chat-messages
                form
                  .field.has-addons
                    p.control
                      input(type='text', class='input', value=profile.displayName, id='name')
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='Try to say something', id='message')
                    p.control
                      input(type='submit', class='button is-success', value='Post')
        h2 Voeg admin toe
        form(action="admin/createadmin" method='POST')
            .form-group
                label(for='name') Naam:
                input#name(type='text', name='name', value='')
            .form-group
                label(for='email') E-mail:
                input#email(type='text', name='email')
            .form-group
                button#save-admin-button.btn.btn-success(type="submit") Save

        h2 Admins
        if admins
            each admin in admins
                .media
                    .media-body
                        h4= admin.name
                        p= admin.email
                        a(href=`/admin/${admin.id}/deleteadmin`, class='btn btn-warning')
                            i.glyphicon.glyphicon-trash
                        a(href=`/admin/${admin.id}/updateadmin`, class='btn btn-warning')
                            i.glyphicon.glyphicon-edit


        else if !admins || !admins.length
                p No admins registered yet
