extends layout.pug

block content
    .container
        if player.id
            h2 #{player.playername}: player profile
            if !player.verified
                p You haven't verified your school email yet! To resend the verification email, submit the form
                | again and make sure the school e-mail address is correct. Also check your spam folder!.
        else
            h2 Welcome #{profile.displayName}! let's create your game profile.

        form(method='POST', enctype="multipart/form-data" action=`/${action.toLowerCase()}player`)
            .form-group
                label(for='playername') Player Name:
                p minimum of 5 characters needed
                input#playername.form-control(type='text', name='playername', value=player.playername)
            .form-group
                label(for="avatar") Avatar
                img.avatar(src=player.imageUrl || "/img/male-profile-pic-placeholder.png")
                input#avatar.form-control(type="file", name="image")
            if player.id
                .form-group.hidden
                    label(for="playerid") Player ID
                    input#playerid.form-control(type="text", name="playerid",  value=player.id)
            if !player.verified
                .form-group
                    label(for='schoolmail') Email school
                    p Supported domains are: #[strong #{'[STUDENT_NR]@talnet.nl'}]
                    input#schoolmail.form-control(type='text', name='schoolmail' value=player.schoolmail)
            .form-group.hidden
                label(for="imageUrl") Player Image URL
                input#imageUrl.form-control(type="text", name="imageUrl",  value=player.imageUrl)
            .form-group
                button#add-game-button.btn.btn-success(type='submit') #{action} profile