extends layout.pug

block content
    .container.content
        h2 #{actiontournament} for tournament
        .media
            .media-left
                img(src=tournament.game.imageUrl ||
                "/img/male-profile-pic-placeholder.png")
            .media-body
                h4= tournament.game.name
                p date: &nbsp;
                    code  #{tournament.date}
                p start time: &nbsp;
                    code  #{tournament.starttime}
                p end time: &nbsp;
                    code  #{tournament.endtime}
                p registration ends: &nbsp;
                    code  #{tournament.endreg} 00:00
                p max #{units}: &nbsp;
                    code  #{tournament.maxplayers}
                p subscriptions: &nbsp;
                    code #{attendees.length}
                p location: &nbsp;
                    code  #{tournament.location}
                p teamsize: &nbsp;
                    code  #{tournament.game.teamsize}

                form(method='POST')
                    if !intime && actiontournament === 'Subscribe'
                        p Registration is closed
                    else if actiontournament === 'Subscribe' || actiontournament === 'Unsubscribe'
                        if team
                            .form-group.hidden
                                input(type='text' name='team_id' value=team.id)
                        .form-group
                            button#subscribe-button.btn.btn-lg.btn-warning(type='submit')
                                i.glyphicon.glyphicon-send
                                span &nbsp;#{actiontournament}
                    else if actiontournament === 'Subscriptions'
                        p Only leaders of teams for <code>#{tournament.game.name}</code> can subscribe to this tournament.
                        a.btn.btn-lg.btn-warning(href=`/${tournament.game.id}/createteam`)
                            i.glyphicon.glyphicon-list-alt
                            span &nbsp; Team up!

        h2 Subscribed
        if attendees.length
            .floating-list
                each attendee in attendees
                    .media
                        .media-left
                            img.avatar(src= attendee.imageUrl ||
                            "/img/male-profile-pic-placeholder.png")
                        .media-body
                            h5= attendee.playername
                            p.opleiding= attendee.opleiding

        else
            p No attendees yet. Be the first!

    script(type='text/javascript').
        $(document).ready(
            function () {
                $('#tournaments').addClass('active');
            }
        );