extends layoutpublic


block content
    .container
        h2 Upcoming tournaments
        if tournaments.length
            each tournament in tournaments
                .media
                    .media-left
                        img(src=tournament.gameImg ||
                        "/img/male-profile-pic-placeholder.png")
                    .media-body
                        h4= tournament.gamename
                        p date: #{tournament.date}
                        p start time: #{tournament.starttime}
                        p end time: #{tournament.endtime}
                        p location: #{tournament.location}
                        a.btn.btn-success(href=`/${tournament.id}/subscribe`)
                            i.glyphicon.glyphicon-list-alt
                            span &nbsp; (Un)Subscribe


        else
            h3 No upcoming tournaments.





